<div class="ce_navlist_container">
	<ul>  
        <li class="ce_navlist ">
			<span><a href="/agency/detail" title="" ><i class="fa fa-home" style="font-size:21px;"></i>&nbsp;机构信息</a></span>
		</li>
        <li class="ce_navlist">
			<span><a href="/agency/adminlist" title="" ><i class="fa fa-tv" style="font-size:19px; padding-right:6px;"></i>&nbsp;机构账号</a></span>
		</li>        	
        <li class="ce_navlist">
			<span><a href="/agency/userlist" title="" ><i class="fa fa-user" style="padding-right:12px;"></i>&nbsp;学生账号</a></span>
		</li>
		<li class="ce_navlist">
			<span><a href="/agency/dorecordlist" title="" ><i class="fa fa-edit"></i>&nbsp;操作日志</a></span>
		</li>
    </ul>
</div>