
<div class="modal-header">
    <a type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></a>
    <span class="modal-title">添加</span>
    <span class="red inlineblock aligncenter width600" id="tip_add"></span>
</div>
<div class="modal-body itemcontent">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="foretip width70"><span class="redstar">*</span>题库标题:</span></span>
            <textarea class="form-control" id="title_add" rows="4" ></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <span class="foretip width70"><a href="#" id="image_tip_add" rel="popover" data-content="图片将会在标题下方显示" data-original-title="提示"><i class="fa fa-info-circle greenico"></i></a>&nbsp;题库图片:</span>
                <script type="text/javascript">
                    $("#image_tip_add").popover({
                        placement: 'right',
                        trigger: 'hover'
                    });
                </script>
            </span>
            <input id="image_add" type="file" name="image"/>
            <script type="text/javascript">
                $("#image_add").fileinput({
                    showUpload: false,
                    allowedFileExtensions: ['jpg', 'png', 'gif'],
                    maxFileSize: 2048,
                    maxFileCount: 1,
                    language: 'zh'
                });
            </script>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" ><span class="foretip width70"><span class="redstar">*</span>选项A:</span></span>
            <input type="text" class="form-control" id="a_add"/>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" ><span class="foretip width70"><span class="redstar">*</span>选项B:</span></span>
            <input type="text" class="form-control" id="b_add"/>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" ><span class="foretip width70"><span class="redstar">*</span>选项C:</span></span>
            <input type="text" class="form-control" id="c_add"/>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" ><span class="foretip width70"><span class="redstar">*</span>选项D:</span></span>
            <input type="text" class="form-control" id="d_add"/>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" ><span class="foretip width70"><span class="redstar">*</span>正确答案:</span></span>
             <span class="form-control">
                <label class="inputlable"><input type="checkbox" name="answer_add" value="A" />&nbsp;A</label>
                <span class="emptyspan30"></span>
                <label class="inputlable"><input type="checkbox" name="answer_add" value="B" />&nbsp;B</label>
                <span class="emptyspan30"></span>
                <label class="inputlable"><input type="checkbox" name="answer_add" value="C" />&nbsp;C</label>
                <span class="emptyspan30"></span>
                <label class="inputlable"><input type="checkbox" name="answer_add" value="D" />&nbsp;D</label>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" ><span class="foretip width70">答案解析:</span></span>
            <input type="text" class="form-control" id="annotation_add"/>
        </div>
    </div>

    <div id="add_btn" class="btn btn-block btn-green" onclick="startAdd()">添加</div>

</div>
<div class="modal-footer"></div>


